@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Amiri:wght@400;700&family=Kalam:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* phone */
@media only screen 
and (min-device-width : 100px) 
and (max-device-width : 700px) {

    .background img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    header {
        position: absolute;
        top: 0;
        left: 0;
        padding: 1.3rem 3.2rem;
        z-index: 10;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    header h1 {
        font-family: 'Kalam', arial, helvetica, sans-serif;
        font-size: 2rem;
        color: #111;
        text-transform: uppercase;
        cursor: pointer;
    }
    /*
    .selecttime {
        position: absolute;
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #3E5598;
        z-index: 2;
    }
    */
    
    .box {
        position: absolute;
        z-index: 10;
        background: #F7F5F4;
        opacity: 0.85;
        border: 0.625rem solid transparent;
        border-radius: 1rem;
        top: 50%;
        left : 50%;
        transform: translate(-50%, -50%);
        letter-spacing: 0.1rem;
    }
    
    .box h3{
        /*display: inline;*/
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-family: 'Amatic SC', cursive;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 700;
        color: #111;
        margin-bottom: 0.3rem;
        /*padding: 0.3rem;*/

    }

    .time{
        position: relative;
        text-align: center;
        margin-bottom: 0.3rem;
    }
    
    .time a{
        color: #3E5598;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.1rem;
        font-family: 'Amatic SC', cursive;
        font-weight: 700;
    }
    
    .time a:hover{
        color: blue;
    }
}



/*desktops*/
@media only screen 
and (min-width : 701px) {
    header {
        position: absolute;
        top: 0;
        left: 0;
        padding: 1.563rem 3.438rem;
        z-index: 10;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    header h1 {
        font-family: 'Kalam', arial, helvetica, sans-serif;
        font-size: 2.8rem;
        font-weight: 700;
        color: #111;
        text-transform: uppercase;
        cursor: pointer;
    }
    /*
    .selecttime {
        position: absolute;
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #3E5598;
        z-index: 2;
    }
    */
    .background img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .box {
        /*
        display: inline-block;
        padding: 10px 30px;
        margin: 10rem 40rem 3rem;
        transition: 0.2s;
        */
        position: absolute;
        z-index: 10;
        background: #D9D9D9;
        opacity: 0.9;
        border: 0.625rem solid transparent;
        border-radius: 1rem;
        top: 50%;
        left : 50%;
        transform: translate(-50%, -50%);
        letter-spacing: 0.2rem;
    }
    
    .box h3{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-family: 'Amatic SC', cursive;
        text-transform: uppercase;
        font-size: 2.2rem;
        font-weight: 700;
        color: #111;
        /*margin-bottom: 1rem;*/
        padding: 0.938rem;
    }
    
    .time{
        position: relative;
        text-align: center;
        margin-bottom: 1rem;
    }
    
    .time a{
        color: #3E5598;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 2rem;
        font-family: 'Amatic SC', cursive;
        font-weight: 700;
    }
    
    .time a:hover{
        color: blue;
        text-decoration: underline;
        text-decoration-thickness: 0.09rem;
    }

}














/*
.btn {
    position: relative;
    display: inline;
    
    background: #EBABAE;
    opacity: 0.8;
    padding: 5px 25px;
    border: 5px solid transparent;
    border-radius: 1rem;
    margin: 30rem 55rem 3rem;
}

.btn:hover {
    border: 2px solid #EBABAE;
    background: transparent;
}


.btn a{
    color: 111;
    text-transform: uppercase;
    font-family: 'Amatic SC', sans-serif;
    font-size: 1.7em;
    font-weight: 700;
    letter-spacing: 2px;
    text-decoration: none;
    top : 50%;
    left : 40%;
    position: relative;

}

.btn img{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0, -50%);
}

.btn a:hover{
    color: #EBABAE;
}
*/