@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Amiri:wght@400;700&family=Kalam:wght@300;400;700&family=Kanit:wght@100;300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.background img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content_button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 20;
    top: 83%;
    left: 73%;
    background-color: #56689e;
    border-radius: 0.5rem;
    opacity: 0.8;
    width: 23.85rem;
    height: 5rem;
}

.button_bg button{
    position: relative;
    margin: 0.3rem;
    border-radius: 0.2rem;
    border: transparent;
    width: 4.1rem; 
    height: 4.1rem;
    padding: 0;
    background: transparent;
}

#btn_bg1 img {
    height: 4rem;  
    width: 4rem;
    border-radius: 0.2rem;
}

.button_bg button:hover{
    cursor: pointer;
    border: 0.01rem solid #FFE090;
}

.upload_icon {
    position: absolute;
    z-index: 10;
    top: 86.5%;
    left: 69%;
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 2rem;
    border: 0.02rem solid transparent;
}

.upload_icon:hover {
    cursor: pointer;
    border: 0.02rem solid blueviolet;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.563rem 3.438rem;
    z-index: 10;
}

header h1 {
    font-family: 'Kalam', arial, helvetica, sans-serif;
    font-size: 2.8rem;
    font-weight: 700;
    color: #111;
    text-transform: uppercase;
    cursor: pointer;
}

.remove_cover img{
    z-index: 15;
    position: absolute;
    border-radius: 0.1rem;
    width: 18.5rem;
    height: 20.3rem;
    top: 13%;
    left: 2.9%;
}

.remove_cover button{
    padding: 0.4rem;
    position: absolute;
    border-radius: 0.5rem;
    z-index: 20;
    left: 12.7%;
    top: 42.4%;
    transform: translate(-50%, 0);
    font-family: 'Kanit', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    width: 15rem;
    border: 0.125rem solid transparent;
    background: #FFE090;
}

.remove_cover button:hover {
    cursor: pointer;
    border: 0.125rem solid #FFE090;
    background: transparent;
    color: blue;

}

.content_heal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-repeat: no-repeat;
    z-index: 10;
    position: absolute;
    background: #FFF1DC;
    opacity: 0.9;
    border: 0.12rem solid transparent;
    border-radius: 1rem;
    width: 18.5rem;
    height: 20.5rem;
    top: 13%;
    left: 3%;
}

.content_heal button {
    position: relative;
    z-index: 20;
    margin-top: 0.65rem;
    font-weight: 400;
    font-family: 'Kanit', sans-serif;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: solid transparent;
    padding: 0.5rem;
    background: #FFE090;
}

.content_heal button:hover {
    cursor: pointer;
    border: solid #FFE090;
    background: transparent;
    color: blue;

}

.content_heal img{
    z-index: 20;
    position: relative;
    background-position: center;
    border-radius: 0.7rem;
    z-index: 30;
    height: 33vh;
    width: 35vh;
}



.content_sea {
    position: absolute;
    z-index: 10;
    background: #56689e;
    opacity: 0.9;
    border-radius: 0.8rem;
    width: 18.5rem;
    height: 15rem;
    top: 63%;
    left: 3%;
}

.content_sea h2 {
    color: #031753;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: 'Amatic SC', sans-serif;
    margin-top: 0.5rem;
    display: flex;
    text-align: center;
    justify-content: center;
}

#sound1{
    position: relative;
    z-index: 15;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: transparent;
}

.spotify {
    position: absolute;
    z-index: 15;
    left: 78%;
    top: 7%;

}

.spotify iframe {
    border-radius: 0.7rem;
}

.button_spt {

    position: absolute;
    z-index: 15;
    right: -3.3rem; 
    top: 20%;
    transform: rotate(-90deg);

}

.button_spt button {
    margin: 0px;
    width: 10rem;
    font-size: 1.9rem;
    font-family: 'Amatic SC', sans-serif;
    letter-spacing: 0.3rem;
    font-weight: 700;
    padding: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border: transparent;
    background: #FFE090;
    opacity: 0.85;
}

.button_spt button:hover {
    cursor: pointer;
}

.soundclound iframe {
    position: absolute;
    z-index: 10;

}

.img_chat {
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-radius: 2rem;

}


.chatlive a {
    position: absolute;
    z-index: 10;
    top: 70%;
    left: 80%;
}